body {
  margin: 0;
  padding: 0;
  background-image: url('../public/images/maple.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 5%;
  left: 20%;
  width: 60%;
  padding: 10px;
  display:flex;
  background-blend-mode: darken;
  padding: 1rem;
  z-index: 1000; /* make sure it's on top of other elements */
}

#table {
  flex: 1;
  overflow-y: auto; 
  padding: 20px;
  top: 50px;
  background-image: url(../public/images/van_essa.png);
  background-size: cover;
  width: 100%;
  z-index: 1000;
}